/*Input*/
.textInput {
    max-width: fit-content;
    width: 10vw;
  }

.inputField {
  max-width: 25vw;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  background-image: none;
}
